// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Customize
@import 'antd';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.news-title {
    color: #2b3580;
    transition: all 0.5s ease-out;
}
.news-title:hover {
    color: #fdc800 !important;
}